<!DOCTYPE html>
<html lang="fr">
	<meta charset="utf-8">
	<%- include('composants/head') %>
	<body>
	<%- include('composants/menu') %>
		<div id="global">
			<h1><%= __('clavardage') %></h1>
			<section id="enregistrement">
				<input type="text">
				<button onclick="enregistrement()">Enregistrement</button>
			</section>
			<section class="chat" style="display:none">
				<table id="list_user"></table>
				<table id="message"></table>
				<section id="message_a_transmettre">
					<input type="text" name="textMessage"><button>Transmettre</button>
				</section>
			</section>

		</div>
	<%- include('composants/footer') %>
	<script src="socket.io/socket.io">
		/* 
		Pour établir une communication socket il faut un premier appel de
		 la fonction io()
		 Cette fonction est incluse dans la librairie socket.io. 
		 Cette fonction déclenche un événement connect vers le serveur
		 */
		 window.onload = ()=>{
			 socket = io()
			 console.log(socket.id);
			 socket.on('connect', function(){
			 console.log('Le socket id = ' + socket.id); 
			 /* l'événement ackUser a été transmis par le serveur */ 
			 socket.on('ackUser', function(data){
				 console.log('data en provenance du serveur = ' + data.user)
			 })
			 });
		 }
		/* ---------------------------------------------------------- */
		 function enregistrement(){
			 var elmUser = document.querySelector('#enregistrement input')
			 console.log(elmUser.value)
			 /* l'événement « setUser » est transmit avec un objet 
			 */
			 socket.emit('setUser', {user : elmUser.value})
		 }
	</script>
	</body>
</html>