<!DOCTYPE html>
<html lang="fr">
	<meta charset="utf-8">
	<%- include('composants/head') %>
	<body>
	<%- include('composants/menu') %>
		<div id="global">
			<h1><%= __('clavardage') %></h1>
			
		</div>
	<%- include('composants/footer') %>
	<script src="socket.io/socket.io"></script>
	</body>
</html>